.container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  flex-direction: column;

  h3 {
    font-size: 16px;
    color: #737380;
    font-weight: bold;
    line-height: 130%;
    padding: 16px;
  }

  span {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    text-align: center;
  }

}
