.switch {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #835afd;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }
}